.card__count-likes{
  margin: 3px 0 0;
  max-width: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  overflow: hidden;
}
