.card__icon-like{
  width: 32px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  background-image: url('../../../images/icon-like_disabled.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.card__icon-like:hover{
  opacity: .5;
}
.card__icon-like:focus{
  outline: none;
}
