.card{
  margin: 0;
  display: grid;
  /*grid-template-rows: 4fr 1fr;*/
  gap: 0;

  position: relative;
}
.card:not(:first-child){
  margin: 20px 0 0;
}

@media screen and (min-width: 1024px){
  .card:not(:first-child){
    margin: 0;
  }
}

